<div class="organize-container">
    <div class="form-container">
        <mat-tab-group mat-align-tabs="start" backgroundColor="accent" animationDuration="1000ms">
            <mat-tab label="Details">
                <form class="expo-form" *ngIf="expoDetails" [formGroup]="expoDetails" (ngSubmit)="onDetailsSubmit()">
                    <div class="expo-main-details">
                        <div class="expo-form-field">
                            <div class="expo-main-info">
                                <mat-form-field appearance="outline" color="primary">
                                    <mat-label>Title</mat-label>
                                    <input matInput type="text" formControlName="title">
                                    <button *ngIf="getTitle?.dirty" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearTitle()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field appearance="outline" color="primary">
                                    <mat-label>Descritpion</mat-label>
                                    <textarea matInput type="text" formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="expo-dates-info">
                                <div class="expo-dates">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date from</mat-label>
                                        <input matInput [matDatepicker]="pickerFrom" formControlName="dateOfOpening">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFrom></mat-datepicker>
                                        <button *ngIf="getDateOfOpening?.dirty" matSuffix mat-icon-button
                                            aria-label="Clear" (click)="clearDateOfOpening()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date to</mat-label>
                                        <input matInput [matDatepicker]="pickerTo" formControlName="dateOfClosing">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerTo></mat-datepicker>
                                        <button *ngIf="getDateOfClosing?.dirty" matSuffix mat-icon-button
                                            aria-label="Clear" (click)="clearDateOfClosing()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="expo-times">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Opening on</mat-label>
                                        <input matInput formControlName="workHoursOpening">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Closing on</mat-label>
                                        <input matInput formControlName="workHoursClosing">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="expo-industries">
                            <mat-form-field appearance="outline" class="industry-form-field">
                                <mat-label>Industry</mat-label>
                                <mat-select formControlName="industryId">
                                    <mat-option *ngFor="let industry of industries" [value]="industry.id">
                                        {{industry.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-flat-button color="accent" [disabled]="expoDetails.invalid || !expoDetails.dirty"
                        class="expo-submit-btn">Save
                        changes</button>
                </form>
            </mat-tab>
            <mat-tab label="Location">
                <form class="expo-form-location" *ngIf="locationForm" [formGroup]="locationForm"
                    (ngSubmit)="onLocationSubmit()">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" formControlName="adress">
                        <button *ngIf="getAddress?.dirty" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearAddress()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="expo-address">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>City</mat-label>
                            <input matInput type="text" formControlName="city">
                            <button *ngIf="getCity?.dirty" matSuffix mat-icon-button aria-label="Clear"
                                (click)="clearCity()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Postal Code</mat-label>
                            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105"
                                formControlName="zipCode">
                            <button *ngIf="getPostalCode?.dirty" matSuffix mat-icon-button aria-label="Clear"
                                (click)="clearPostalCode()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Country</mat-label>
                        <input matInput type="text" formControlName="country">
                        <button *ngIf="getCountry?.dirty" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearCountry()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button color="accent" [disabled]="locationForm.invalid || !locationForm.dirty"
                        class="expo-submit-btn">Save
                        changes</button>
                </form>
            </mat-tab>
            <mat-tab label="Tickets">
                <div class="expo-ticekts">
                    <div class="expo-add-ticekt">
                        <form [formGroup]="ticketForm" class="tickets">
                            <button mat-mini-fab color="accent" (click)="addTicektType()">
                                <mat-icon>add</mat-icon>
                            </button>
                        <mat-divider></mat-divider>
                            <div formArrayName="tickets">
                                <div *ngFor="let ticket of getTickets()?.controls; let i = index">
                                    <div [formGroupName]="i" class="tickets">
                                        <mat-form-field appearance="outline" color="primary" class="padding">
                                            <mat-label>Type</mat-label>
                                            <input matInput type="text" formControlName="name">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" color="primary">
                                            <mat-label>Price</mat-label>
                                            <input matInput type="number" formControlName="price">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" color="primary">
                                            <mat-label>Number of days until expires</mat-label>
                                            <input matInput type="number" formControlName="validDaysCount">
                                        </mat-form-field>
                                        <button mat-icon-button color="accent" *ngIf="!ticket.value.id" [disabled]="ticket.invalid" (click)="addTicket(ticket)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent" *ngIf="ticket.value.id" [disabled]="ticket.invalid" (click)="editTicket(ticket)">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" *ngIf="ticket.value.id" (click)="removeTicketType(ticket, i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Image">
                <div class="expo-cover">
                    <div class="expo-cover-image" *ngIf="imageURL == '' || imageURL == null">
                        <h1 class="upload-image-title">Upload image</h1>
                    </div>
                    <img [src]="imageURL" class="expo-image" *ngIf="imageURL != ''">
                    <button mat-mini-fab color="primary" id="edit-cover-btn" (click)="openFileDialog()">
                        <mat-icon>edit</mat-icon>
                        <input type="file" hidden (change)="uploadImage($event)" id="upload-btn">
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>